<link rel="stylesheet" href="/static/style.css" type="text/css">

{% extends "layout/base.html" %}
{% block body %}
<form action="/register_action" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Bitmoney Exchange</h1>
                <h3>NUEVO USUARIO</h3>
			</div>
            <div>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <h1 align="center" style="color:red">{{ message }}</h1>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
			<div class="login-form">
				<div class="control-group">
					<input type="text" class="login-field" value="" placeholder="Usuario" name="username" minlength="4" maxlength="12" required></div>
                <div class="control-group">
					<input type="text" class="login-field" value="" placeholder="Correo Electronico" name="email" maxlength="64" required></div>
				<div class="control-group">
					<input type="text" class="login-field" value="" placeholder="Contraseña" name="password" minlength="4" maxlength="12" required></div>
				    <input type="submit" value="Registrar" class="btn btn-primary btn-large btn-block">
                <div class="control-group">

                </div>
            </div>

		</div>

	</div>
</form>
{% endblock %}