<link rel="stylesheet" href="/static/style.css" type="text/css">

{% extends "layout/base.html" %}
{% block body %}
<form action="/register_action" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Bitmoney Exchange</h1>
			</div>
			<div class="login-form">
				<div class="control-group">
					<input type="text" class="login-field" value="" placeholder="username" name="username"></div>
                <div class="control-group">
					<input type="text" class="login-field" value="" placeholder="email" name="email"></div>
				<div class="control-group">
					<input type="text" class="login-field" value="" placeholder="password" name="password"></div>
				<input type="submit" value="Log in" class="btn btn-primary btn-large btn-block">
				</div>
		</div>
	</div>
</form>
{% endblock %}